 #hideMeAfter5Seconds {
    animation: hideAnimation 0s ease-in 5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes hideAnimation {
    to {
      visibility: hidden;
      width: 0;
      height: 0;
    }
  } 

  .small-font thead tr th,
  .small-font tbody tr td{ 
    font-size: 9px;
  }

  .small-font-btn{
    font-size: 9px;
  }

  .printer_img_postiom{
    left: 13px;
    top: 13px;
  }

  .selected_tr {
    background-color: rgba(0, 204, 255, 0.556);
  }
