 #hideMeAfter5Seconds {
    animation: hideAnimation 0s ease-in 5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes hideAnimation {
    to {
      visibility: hidden;
      width: 0;
      height: 0;
    }
  } 

  .small-font thead tr th,
  .small-font tbody tr td{ 
    font-size: 9px;
  }

  .small-font-btn{
    font-size: 9px;
  }

  .printer_img_postiom{
    left: 13px;
    top: 13px;
  }

  .selected_tr {
    background-color: rgba(0, 204, 255, 0.556);
  }

  .awards{
    position: relative;
    
  }

  .awards .st{
    bottom: 0;
    height: 80px;
    background-color: gold;
    color: #fff;
    position: absolute;
    bottom: 0px;
    left: 80px;
    
  }
  .awards .sec{
    height: 60px;
    background-color: silver;
    color: #fff;
    position: absolute;
    bottom: 0px;
    left: 30px;
  }
  .awards .tre{
    height: 35px;
    background-color: #CD7F32;
    color: #fff;
    position: absolute;
    bottom: 0px;
    left: 130px;
  }
  .awards .st_num{
    color: #fff;
    position: absolute;
    z-index: 5;
    bottom: -10px;
    left: 130px;
  }

